*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	font: normal 16px sans-serif;
	color: rgb(56, 54, 54);
}
ul, nav{
	list-style: none;
}
a{
	text-decoration: none;
	cursor: pointer;
    color: inherit;
	opacity: 0.9;
}
a:hover{
	opacity: 1;
}
a.btn{
	color: #fff;
	border-radius: 4px;
	text-transform: uppercase;
	background-color: #2196F3;
	font-weight: 800;
	text-align: center;
}
section{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 125px 100px;
}

@media (max-width: 1000px){

	section{
		padding: 100px 50px;
	}

}

@media (max-width: 600px){

	section{
		padding: 80px 30px;
	}

}

/* HEADER*/

header{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	padding: 10px 100px 10px;
}

.sticky {
	position: -webkit-sticky; 
	position: sticky;
	top: 0;
	align-self: flex-start; 
	background-color: #4185aa;  
}
header nav{
	display: flex;
}
header nav li{
	margin: 0 15px;
    font-weight: bold;
}
header nav li:first-child{
	margin-left: 0;	
}

header nav li:last-child{
	margin-right: 0;	
}

@media (max-width: 1000px){
	header{
		padding: 5px 50px;
	}
}


@media (max-width: 700px){
	header{
		flex-direction: column;		
	}

	header h2{
		margin-bottom: 15px;
	}
}

/* HOME*/
.home{
    position: relative;
	justify-content: center;
	min-height: 100vh;
	color: #fff;
	text-align: center;
}
.home .image-bg{
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	z-index: -1;
}
.home .image-bg:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #414a4f;
	opacity: 0.75;
}
.home h1{
	font: bold 60px 'Open Sans', sans-serif;
	margin-bottom: 15px;
}

.home h3{
	font: normal 28px 'Open Sans', sans-serif;
	margin-bottom: 40px;
}

.home form{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 800px;
	width: 70%;
}
.home form input{
	padding: 15px;
	flex: 1;
	margin-right: 30px;
	font-size: 18px;
	color: #555;
}

.home form .btn{
	padding: 18px 42px;
}
@media (max-width: 800px){

	.home{
		min-height: 600px;
	}

	.home h1{
		font-size: 48px;
	}

	.home h3{
		font-size: 24px;
	}

	.home form input{
		flex-basis: 100%;
        font-size:20px;
		margin: 0 0 20px 0;
	}

}

/* POPULER */
h3.title{
    color: #414a4f;
	text-transform: capitalize; 
	font: bold 32px 'Open Sans', sans-serif;
	margin-bottom: 35px;
	text-align: center;
}
ul.grid{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.populer{
	background-color: #f7f7f7;
}

.populer .grid li{
	flex-basis: 30%;
    margin: 2px;
    padding: 10px;
    border-radius: 5px;
	text-align: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


.populer .grid li h4{
	color: #555;
    margin-top: 25px;
    font-size: 20px;

}

.populer .grid li p{
    margin: 0;
	margin-top: 10px;
}
.populer .grid img{
	width: 80%;
  height: auto;
}
a.more{
    color: blue;
}

@media (max-width: 1000px){

	.populer .grid li{
		flex-basis: 70%;
		margin-bottom: 65px;
	}

	.populer .grid li:last-child{
		margin-bottom: 0;
	}
    ul.grid{
        flex-direction: column;
    }

}


@media (max-width: 600px){

	.features .grid li{
		flex-basis: 100%;
	}

}
